@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@700&display=swap');
*{
    margin:0px;
}

.index{
    /* background-color: lightcoral; */
    background-image: url("robot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;

}
.principal{
    /* border: 5px solid red; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto;
    margin-bottom: auto; */
    color: white;
    text-align: center;
}
.principal__titulo{
    font-size: 100px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.principal__parrafo{
    font-size: 40px;
}
.principal__boton{
    width:200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(25, 107, 105);color:white;
    font-size: 20px;
    font-family: 'Bebas Neue';
    border: none;
    border-radius: 5%;
    cursor:pointer; 
}

